<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="icon-anchor"></span>
                    Domeinnaam
                    <a href="" class="btn btn-xs btn-success pull-right">
                        <span class="icon-wand2"></span>
                        Configureren
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <small>Een domeinnaam is een identificatie-naam voor bijvoorbeeld uw website en e-mail. U kunt bij ons kiezen uit vele extensies voor een scherp tarief.
                </small>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="icon-checkmark"></span>
                    Volledig in eigen beheer
                </li>
                <li class="list-group-item">
                    <span class="icon-checkmark"></span>
                    DNSSEC beveiliging
                    <small class="pull-right">(optioneel)</small>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="icon-earth"></span>
                    Webhosting
                    <a href="" class="btn btn-xs btn-success pull-right">
                        <span class="icon-wand2"></span>
                        Configureren
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <small>Onze webhostingpakketten zijn geschikt voor zowel eenvoudige statische als complexe dynamische websites.
                </small>
                <small>Bij alle hostingpakketten kunt kunt u optioneel een domeinnaam erbij bestellen, uiteraard is het ook mogelijk om domeinen in uw eigen beheer te koppelen.
                </small>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="icon-checkmark"></span>
                    Dagelijkse backups
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="icon-envelop"></span>
                    E-mail
                    <a href="" class="btn btn-xs btn-success pull-right">
                        <span class="icon-wand2"></span>
                        Configureren
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <small>Onze webhostingpakketten zijn geschikt voor zowel eenvoudige statische als complexe dynamische websites.
                </small>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="icon-checkmark"></span>
                    Dagelijkse backups
                </li>
                <li class="list-group-item">
                    <span class="icon-checkmark"></span>
                    Instelbare (spam)filters
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="icon-globe"></span>
                    IRC Bouncer
                    <a href="" class="btn btn-xs btn-success pull-right">
                        <span class="icon-wand2"></span>
                        Configureren
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <small>Bla bla bla sdfs fsdf sdfsd fsdf</small>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="icon-checkmark"></span>
                    Gratis voor IPv6 netwerken
                </li>
                <li class="list-group-item">
                    <span class="icon-checkmark"></span>
                    Eigen IP adres
                </li>
                <li class="list-group-item">
                    <span class="icon-checkmark"></span>
                    Instelbare hostnaam
                </li>
            </ul>
        </div>
    </div>
</div>
