<div class="col-md-4">
    {% include 'Controller/Account/Product/Sidepanel.twig' %}
</div>
{% set total = 0 %}
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="icon-cube"></span> Overzicht
        </div>
        {% include 'Helper/Product/Overview.twig' %}
    </div>
</div>
