<div class="col-md-4">
    {% include 'Controller/Account/Product/Sidepanel.twig' %}
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="icon-database"></span> Databases
        </div>
        <div class="panel-body">
            {#todo fix this as soon the "Websites"-part is implemented#}
            Om uw database te beheren kunt u bij "Websites" een domein aanmaken die phpmyadmin beschikbaar zal maken. Via de ze URL kunt u dan uw database server beheren.
        </div>
    </div>
</div>
