<div class="text-center">
    <ul class="pagination">
        <li class="first"><a href="#"><span class="icon-xs icon-arrow-first"></span></a></li>
        <li class="prev"><a href="#"><span class="icon-xs icon-arrow-left"></span></a></li>
        <li><span class="pagedisplay"></span></li>
        <li class="next"><a href="#"><span class="icon-xs icon-arrow-right2"></span></a></li>
        <li class="last"><a href="#"><span class="icon-xs icon-arrow-right"></span></a></li>
    </ul>
</div>
